$red: #fb4c47;
$black: #4b4f51;
$green: #035755;
$pink: rgba(250, 86, 82, 0.15);
$red-hat: 'Red Hat Display', sans-serif;
$sans: sans-serif;

@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translateX(-100px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translateX(100px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes fadeInBottom {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes fadeInTop {
	from {
		opacity: 0;
		transform: translateY(-100px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
